.bg-image, .bg-image img {
  height: 40vh;
  width: 100%;
}

body {
  background-color: hsl(235, 21%, 11%);
}

.header-container {
  position: relative;
  top: -12rem;
  width: 36rem;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 5px;
}