.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5rem;
}

.header h1 {
  color: hsl(236, 33%, 92%);
  font-weight: 700;
  letter-spacing: 15px;
}

.header img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}