@import "./css/Body/BodyStyle.css";
@import "./css/Header/HeaderStyle.css";
@import "./css/InputTask/InputTaskStyle.css";
@import "./css/TaskComponent/TaskComponentStyle.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
}
